body{
  background-color: red;
  font-family: sans-serif;
}
hr{
  border: 2px solid purple;
  left: 0;
  position: absolute;
  width: 20%;
}
section{
  /*border: 1px solid black;*/
  width: 80%;
  margin: 5% 10%;

}
div.retrato img{
  width: 100%;
  height: 100%;
}
div.retrato1 img{
  width: 100%;
  height: 100%;
}
div.retrato p{
  position:relative;
  bottom: 25%;
  color: #ffffff;
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
}
div.retrato1 p{
  position:relative;
  bottom: 25%;
  color: #ffffff;
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
}

.retrato{
  /*border: 1px solid black;*/
  display: inline-block;
  height: 300px;
  margin-left: 10%;
  width: 20%;
}
.retrato1{
  /*border: 1px solid black;*/
  display: inline-block;
  height: 300px;
  margin-left: 40%;
  width: 20%;
}
